---
layout: archive
---

{% if page.title %}
  <h1 class="archive__title">{{ page.title }}</h1>
{% endif %}

{% for category in site.categories %}
  {% assign posts = category | last %}
  {% assign categoryName = category | first %}
  <h3 id="{{ categoryName | slugify }}">
    <a href="{{ site.baseurl }}/categories/{{ categoryName | slugify }}">{{ categoryName }}</a>
  </h3>
  <ul>
  {% for post in posts %}
    {% if post.categories contains categoryName %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
